#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.App form {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: #fff;
  border: 1px solid rgb(41, 39, 39);
  background: rgb(41, 39, 39);
  border-radius: 12px;
}

.decks li:hover {
  background: rgb(32, 31, 31);
}

.decks {
  margin: 0 auto;
  width: 600px;
  display: grid;
  /*"FR" expand columns to meet the full width of the container*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.decks li button {
  position: absolute;
  font-size: 9px;
  top: 0px;
  right: 2px;
  background-color: rgb(41, 39, 39);
  color: #fff;
}